<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href=".assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/revanthWebsite/assets/img/background.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Revanth Pobala's Work Experience</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link href="/stylesheets/material-kit.css" rel="stylesheet"/>

</head>

<body class="landing-page">
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">Photography</span>
                <span class="icon-bar">Github</span>
                <span class="icon-bar">LinkedIn</span>
                <span class="icon-bar">Instagram</span>
            </button>
            <a class="navbar-brand" href="http://www.revanthpobala.com">Revanth Pobala</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="photography.html"
                       target="_blank">
                        <i class="material-icons">camera</i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/revanthpobala" target="_blank"
                       class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/revanth1108/" target="_blank"
                       class="btn btn-simple btn-white btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="instagram.com/r3vanth/?hl=en" target="_blank"
                       class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('/img/background.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Who am I?</h1>
                    <h4>Hello, My name is Revanth. I am a recent university graduate with a masters’ degree in Computer
                        Science focused on Software Development and Application Development.</h4>
                    <br/>
                    <a href="/resume" target="_blank" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-file-text-o"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">

                <hr/>
                <div class="row experience">
                    <div class="row container">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Work Experience</h2>
                        </div>

                        <div class="row" id="intuit" style="text-align:justify">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="title"> Software Engineer</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="title" style="color: #0091ea  ">Intuit </h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>San Diego, CA</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>Aug 2016 - Present</h5>
                                </div>
                            </div>
                            <div class="row" style="text-align: justify; ">
                                <br>
                                <ul>
                                    <li>Working with content migration teams to provide the support for migrating the
                                        forms
                                        from
                                        legacy code to the latest code.
                                    </li>
                                    <li>
                                        Developing a framework called CalcMigrator in Spring boot, that helps the
                                        migration
                                        of
                                        the forms faster and allows the developer to concentrate more on form migration
                                    </li>
                                    <li>
                                        Working on a Project, called SmallBigTest that extracts the interesting tax data
                                        for
                                        the
                                        tax forms.
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <hr>


                        <div class="row" id="cerner" style="text-align: justify">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="title"> Software Intern</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="title" style="color: #66bb6a">Cerner
                                        Corporation</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>Kansas City, MO</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>Oct 2016 - Feb 2017</h5>
                                </div>
                            </div>
                            <div class="row" style="text-align: justify; ">
                                <br>
                                <ul>
                                    <li>Designed, built and maintained a website, using Spring, Hibernate and other Java
                                        Technologies, management tools, and digital media.
                                    </li>
                                    <li>
                                        Designed, built and maintained a website, using Spring, Hibernate and other
                                        Java Technologies, management tools, and digital media and device types
                                    </li>
                                    <li>
                                        Used Test Driven Development while developing the application.
                                    </li>
                                    <li>
                                        Knowledge of professional software engineering practices and full software
                                        development life cycle, including coding standards, code reviews, source control
                                        management,
                                        <br>build processes, testing, and operations.
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <hr>


                        <div class="row" id="uta" style="text-align: justify">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="title"> Graduate Research Assistant</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="title" style="color: #f57c00  ">UT Arlington </h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>Arlington, TX</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>May 2015 - May 2017</h5>
                                </div>
                            </div>
                            <div class="row" style="text-align: justify; ">
                                <br>
                                <ul>
                                    <li>Developed a platform (Lilac) which would enhance the privacy and security of
                                        online communication.
                                    </li>
                                    <li>
                                        Wrote extensive code in Spring, nodejs, socket io, Python and implemented
                                        security, distributed systems concepts in the project.
                                    </li>
                                    <li>
                                        Deployed the platform on AWS, EC2 instances, Heroku containers and created a
                                        Docker image for the platform.
                                    </li>
                                    <li>
                                        Developed API's for the platform. One application for the platform is an Instant
                                        messaging system named Lilac.
                                    </li>
                                    <li>
                                        Supervised and mentored an undergraduate student.
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <hr>

                        <div class="row" id="blackberry" style="text-align: justify">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="title"> Security R&D Intern</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="title" style="color: #000000   ">BlackBerry </h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>Irving, TX</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>Jan 2016 - May 2016</h5>
                                </div>
                            </div>
                            <div class="row" style="text-align: justify; ">
                                <br>
                                <ul>
                                    <li>Worked on Accuracy Filter project. The main goal of the project is to reduce the
                                        number of False positives generated by the Static Analysis Tools (SAT) by using
                                        Machine learning.
                                    </li>
                                    <li>
                                        Extracted features from Codebase, SAT Warnings and structured the data to be
                                        given as an input to the Machine Learning models.
                                    </li>
                                    <li>
                                        Deployed the platform on AWS, EC2 instances, Heroku containers and created a
                                        Docker image for the platform.
                                    </li>
                                    <li>
                                        Constructed Machine learning models on the extracted data.
                                    </li>
                                    <li>
                                        Constructed Machine learning models on the extracted data.
                                        <ul>
                                            <li>
                                                Understanding the labeling problem.
                                            </li>
                                            <li>
                                                Can we automate the generation of ground truth?
                                            </li>
                                            <li>
                                                How does the ground truth change from one project to another?
                                            </li>
                                            <li>
                                                Quality and Quantity of data required as a training data.
                                            </li>
                                            <li>
                                                How can we mitigate the class imbalance in the data?
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <hr>

                        <div class="row" id="smartdata" style="text-align: justify">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="title"> Full Stack Developer</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="title" style="color: #f44336   ">SmartData Enterprises </h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>India</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5>Aug 2013 - Feb 2014</h5>
                                </div>
                            </div>
                            <div class="row" style="text-align: justify; ">
                                <br>
                                <ul>
                                    <li>Involved in all phases of the end-to-end implementation project- requirements
                                        gathering, analysis and design, development,
                                        testing and debugging.
                                    </li>
                                    <li>
                                        Created wireframes, storyboards, user flows, process flows and site maps to
                                        effectively communicate interaction and design ideas.
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>


                </div>

                <hr/>
                <div class="features">
                    <h2 class="title text-center">Awards & Achievements</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="material-icons">book</i>
                                </div>
                                <h4 class="info-title">IEEE Publication</h4>
                                <p>Published a paper in <b> 1st IEEE Symposium on Privacy Aware Computing, Washington
                                    D.C –
                                    August 2017. </b><a target="_blank"
                                                        href="http://sopac-conference.info/acp.html">Lilac
                                    [Lightweight Low-Latency Anonymous Chat]
                                </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">school</i>
                                </div>
                                <h4 class="info-title">Graduate Student Scholarship</h4>
                                <p>Awarded Graduate Student Scholarship by the Department of Computer Science,
                                    University of Texas Arlington. 2014-2016.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="material-icons">computer</i>
                                </div>
                                <h4 class="info-title">NSF Projects</h4>
                                <p>Contributor to the National Science Foundation (NSF) supported projects:
                                    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=0954133" target="_blank">
                                        CNS- 0954133
                                    </a> and
                                    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1423163" target="_blank">
                                        1423163.
                                    </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="section landing-section">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center title">Contact me</h2>
                        <h4 class="text-center description">If you are interested in my work or to hire me as an
                            employee, Please reach out to me. Email is the best way to contact me.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your Name</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label">Your Messge</label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                    <button class="btn btn-primary btn-raised">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.revanthpobala.com">
                            Revanth Pobala
                        </a>
                    </li>
                    <li>
                        <a href="/photography">
                            Photography
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/revanthpobala">
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/revanth1108/">
                            Linkedin
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2018, made with <i class="fa fa-heart heart"></i> by Revanth
            </div>
        </div>
    </footer>

</div>
</body>

<!--   Core JS Files   -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/material.min.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="/js/material-kit.js" type="text/javascript"></script>

<script src="/js/blueimp-helper.js"></script>
<script src="/js/blueimp-gallery.js"></script>
<script src="/js/blueimp-gallery-fullscreen.js"></script>
<script src="/js/blueimp-gallery-indicator.js"></script>
<script src="/js/blueimp-gallery-video.js"></script>
<script src="/js/blueimp-gallery-vimeo.js"></script>
<script src="/js/blueimp-gallery-youtube.js"></script>
<script src="/js/jquery.blueimp-gallery.js"></script>
<script src="/js/main.js"></script>


</html>
